@import url(./normalize.css);
@import url(./style.css);
@import url(./crew.css);

body{
    background-image: url(../assets/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px) {
    body{
        background-image: url(../assets/technology/background-technology-tablet.jpg);
    }
}

.launch-container {
  display: flex;
  flex-direction: column-reverse;
  /* grid-template-rows: auto auto auto;  */
  gap: 2rem;
  text-align: center; /* Center content for mobile view */
}


.text{
    padding:2rem 0;
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
  }
.text .crew-description{
  padding: 0 1rem;
  margin: 1rem 2rem;
}

/* Buttons Section */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  /* border: none; */
  cursor: pointer;
}

.buttons button.active {
  background-color: white;
  color: black;
}



.image img {
  width: 100%;
  height: 250px;
  /* object-fit: cover; */
}



@media screen and (min-width:768px) {
  .launch-container{
    margin-top: 3rem;
  }
  .buttons button{
    width: 56px;
    height: 56px ;
  }
  .text .crew-description{
    padding: 0 5rem;
    margin: 1rem 6rem;
  }
  .image {
    /* grid-column: 3 / 4;  */
    /* height: 90%; */
    position: relative;
    overflow:visible;
    /* height: 60vh; */
    /* width: 43vw; */
  }
  .image img{
    height: 370px;
    /* width: 100%; */
    /* height: 100%; */
    object-fit:cover;
    object-position: center;
  }
}



/* Desktop Layout */
@media screen and (min-width:1440px) {
  .technology--container{
    padding-left: 10rem;
  }
  .technology--container .tagline{
    padding-left: 0;
  }
  .launch-container {
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center; */
    display: grid;
  grid-template-columns: 1.1fr 1fr; /* Left column slightly wider */
  gap: 30px;
  align-items: center; 
  width: 100%;
  padding: 3rem 0;
  /* max-width: 1200px; */
  /* height: 80vh;  */
  }
  .column{
    /* display: flex;
    gap: 7rem; */
    /* grid-column: 1 / 2; */
      display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 20px;
  }
  .buttons {
    /* justify-content: flex-end; */
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    margin-top: 1rem;
  }
  .buttons button{
    width: 80px;
    height: 80px;
  }
  .text {
    display: flex;
    flex-direction: column;
    /* grid-column: 2 / 3; */
    text-align: left;
    padding: 0;
  }
  .text .crew-name{
    margin: -2rem 0 2rem 0;
  }
  .text .crew-description{
    padding: 0;
    margin: 0;
  }
  .text .post{
    margin: 0;
  }
  .image {
    /* grid-column: 3 / 4;  */
    /* height: 90%; */
    position: relative;
    overflow:visible;
    /* height: 60vh; */
    /* width: 43vw; */
  }

  .image img {
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
    left: 0;
    top: 0;
  }
}